In [399]:

import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

# Import essential models and functions from sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
import graphviz

# Using Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

# Import essential models and functions from plotly
import plotly
import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

# Allows us to use Plotly offline
init_notebook_mode(connected=True)

In [400]:
import pandas as pd 
data_2015 = pd.read_csv('/content/2015.csv')
data_2016 = pd.read_csv('/content/2016.csv')
data_2017 = pd.read_csv('/content/2017.csv')
data_2018= pd.read_csv('/content/2018.csv')
data_2019 = pd.read_csv('/content/2019.csv')
data_2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [401]:
data_2015 = data_2015.drop(['Standard Error','Region','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [402]:
data_2015=data_2015.rename(columns={'Happiness Score':'Happiness Score 2015'})

In [403]:
data_2015.head()

       Country  Happiness Score 2015  ...  Trust (Government Corruption)  Generosity
0  Switzerland                 7.587  ...                        0.41978     0.29678
1      Iceland                 7.561  ...                        0.14145     0.43630
2      Denmark                 7.527  ...                        0.48357     0.34139
3       Norway                 7.522  ...                        0.36503     0.34699
4       Canada                 7.427  ...                        0.32957     0.45811

[5 rows x 7 columns]

In [404]:
data_2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [405]:
data_2016 = data_2016.drop(['Lower Confidence Interval'	,'Upper Confidence Interval','Region','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [406]:
data_2016=data_2016.rename(columns={'Happiness Score':'Happiness Score 2016'})

In [407]:
data_2016.head()

       Country  Happiness Score 2016  ...  Trust (Government Corruption)  Generosity
0      Denmark                 7.526  ...                        0.44453     0.36171
1  Switzerland                 7.509  ...                        0.41203     0.28083
2      Iceland                 7.501  ...                        0.14975     0.47678
3       Norway                 7.498  ...                        0.35776     0.37895
4      Finland                 7.413  ...                        0.41004     0.25492

[5 rows x 7 columns]

In [408]:
data_2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [409]:
data_2017=data_2017.rename(columns={'Happiness.Rank': "Happiness Rank",'Happiness.Score':'Happiness Score 2017','Economy..GDP.per.Capita.':'Economy (GDP per Capita)','Health..Life.Expectancy.':'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)', 'Dystopia.Residual':'Dystopia Residual'  })

In [410]:
data_2017 = data_2017.drop(['Whisker.high'	,'Whisker.low','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [411]:
data_2017.head()

       Country  Happiness Score 2017  ...  Generosity  Trust (Government Corruption)
0       Norway                 7.537  ...    0.362012                       0.315964
1      Denmark                 7.522  ...    0.355280                       0.400770
2      Iceland                 7.504  ...    0.475540                       0.153527
3  Switzerland                 7.494  ...    0.290549                       0.367007
4      Finland                 7.469  ...    0.245483                       0.382612

[5 rows x 7 columns]

In [412]:
data_2018.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [413]:
data_2018 = data_2018.drop(['Overall rank','Social support'], axis=1)

In [414]:
data_2018=data_2018.rename(columns={'Country or region': "Country",'Score':' Happiness Score 2018','GDP per capita':"Economy (GDP per Capita)",'Healthy life expectancy':"Healthy (life expectancy)",'Freedom to make life choices':"Freedom",'Perceptions of corruption':"Trust (Government Corruption)"})

In [415]:
data_2018.head()

       Country  ...  Trust (Government Corruption)
0      Finland  ...                          0.393
1       Norway  ...                          0.340
2      Denmark  ...                          0.408
3      Iceland  ...                          0.138
4  Switzerland  ...                          0.357

[5 rows x 7 columns]

In [416]:
data_2019.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [417]:
data_2019 = data_2019.drop(['Overall rank','Social support'], axis=1)

In [418]:
data_2019=data_2019.rename(columns={'Country or region': "Country",'Score':' Happiness Score 2019','GDP per capita':"Economy (GDP per Capita)",'Healthy life expectancy':"Healthy (life expectancy)",'Freedom to make life choices':"Freedom",'Perceptions of corruption':"Trust (Government Corruption)"})

In [419]:
data_2019.head()

       Country  ...  Trust (Government Corruption)
0      Finland  ...                          0.393
1      Denmark  ...                          0.410
2       Norway  ...                          0.341
3      Iceland  ...                          0.118
4  Netherlands  ...                          0.298

[5 rows x 7 columns]

In [420]:

data = pd.concat([data_2015,data_2016,data_2017,data_2018,data_2019],axis=1)
data.head()

       Country  Happiness Score 2015  ...  Generosity  Trust (Government Corruption)
0  Switzerland                 7.587  ...       0.153                          0.393
1      Iceland                 7.561  ...       0.252                          0.410
2      Denmark                 7.527  ...       0.271                          0.341
3       Norway                 7.522  ...       0.354                          0.118
4       Canada                 7.427  ...       0.322                          0.298

[5 rows x 35 columns]

In [421]:
data.shape

(158, 35)

In [422]:
# Remove duplicate columns (if any)
#data = data.loc[:,~data.columns.duplicated()]
#data.head()

In [423]:
# Remove rows with missing values
data = data.dropna(how='any',axis=0)

In [424]:
# Summary Statistics for all Variables
data.describe().round(2)

       Happiness Score 2015  ...  Trust (Government Corruption)
count                154.00  ...                         154.00
mean                   5.41  ...                           0.11
std                    1.10  ...                           0.09
min                    3.34  ...                           0.00
25%                    4.57  ...                           0.05
50%                    5.26  ...                           0.09
75%                    6.24  ...                           0.14
max                    7.59  ...                           0.45

[8 rows x 30 columns]

In [425]:
# Calculate the complete correlation matrix
data.corr().round(2)

                               Happiness Score 2015  ...  Trust (Government Corruption)
Happiness Score 2015                           1.00  ...                           0.41
Economy (GDP per Capita)                       0.77  ...                           0.25
Health (Life Expectancy)                       0.73  ...                           0.23
Freedom                                        0.54  ...                           0.28
Trust (Government Corruption)                  0.40  ...                           0.33
Generosity                                     0.20  ...                           0.38
Happiness Score 2016                           1.00  ...                           0.39
Economy (GDP per Capita)                       0.78  ...                           0.24
Health (Life Expectancy)                       0.76  ...                           0.24
Freedom                                        0.54  ...                           0.32
Trust (Government Corruption)                  0.41  ...                           0.48
Generosity                                     0.19  ...                           0.22
Happiness Score 2017                           1.00  ...                           0.40
Economy (GDP per Capita)                       0.81  ...                           0.29
Health (Life Expectancy)                       0.77  ...                           0.29
Freedom                                        0.57  ...                           0.28
Generosity                                     0.16  ...                           0.35
Trust (Government Corruption)                  0.45  ...                           0.40
 Happiness Score 2018                          0.99  ...                           0.40
Economy (GDP per Capita)                       0.79  ...                           0.34
Healthy (life expectancy)                      0.76  ...                           0.34
Freedom                                        0.54  ...                           0.27
Generosity                                     0.13  ...                           0.24
Trust (Government Corruption)                  0.41  ...                           0.60
 Happiness Score 2019                          0.99  ...                           0.40
Economy (GDP per Capita)                       0.79  ...                           0.31
Healthy (life expectancy)                      0.77  ...                           0.30
Freedom                                        0.55  ...                           0.45
Generosity                                     0.09  ...                           0.32
Trust (Government Corruption)                  0.41  ...                           1.00

[30 rows x 30 columns]

In [427]:
# Summary of Happiness Score per year
Happiness_Score = data[["Country", "Happiness Score 2015", "Happiness Score 2016", "Happiness Score 2017", "Happiness Score 2018", "Happiness Score 2019"]]
Happiness_Score = Happiness_Score.groupby("Country")
Happiness_Score.mean()

KeyError: ignored

In [ ]:
## Top 10 Happiest Countries
data[['Country','Happiness Score 2015']].head(10)

In [ ]:
##Top 10 Most Freedom Oriented Countries
data[['Country', 'Freedom']].sort_values(by = 'Freedom', ascending = False).head(10)

In [ ]:
##Top 10 Countries with Best Economy
data[['Country', 'Economy (GDP per Capita)']].sort_values(by = 'Economy (GDP per Capita)',ascending = False).head(10)

In [ ]:
# Prepare X_train, X_test, y_train, y_test
X = data[["Economy (GDP per Capita)", "Health (Life Expectancy)", "Trust (Government Corruption)", "Generosity"]]
y = data["Happiness Score"]
scaler = StandardScaler()
scaler.fit(X)
X_standard = scaler.transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_standard, y, test_size=0.2, random_state=10)

linreg = LinearRegression()
linreg.fit(X_train, y_train)
print("Training set R^2:", linreg.score(X_train, y_train))
print("Test set R^2:", linreg.score(X_test, y_test))