In [32]:

import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

# Import essential models and functions from sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
import graphviz

# Using Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

# Import essential models and functions from plotly
import plotly
import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

# Allows us to use Plotly offline
init_notebook_mode(connected=True)

In [33]:
import pandas as pd 
data_2015 = pd.read_csv('/content/2015.csv')
data_2016 = pd.read_csv('/content/2016.csv')
data_2017 = pd.read_csv('/content/2017.csv')
data_2018= pd.read_csv('/content/2018.csv')
data_2019 = pd.read_csv('/content/2019.csv')
data_2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [34]:
data_2015 = data_2015.drop(['Standard Error','Region','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [35]:
data_2015=data_2015.rename(columns={'Happiness Score':'Happiness Score'})

In [36]:
data_2015.head()

       Country  Happiness Score  ...  Trust (Government Corruption)  Generosity
0  Switzerland            7.587  ...                        0.41978     0.29678
1      Iceland            7.561  ...                        0.14145     0.43630
2      Denmark            7.527  ...                        0.48357     0.34139
3       Norway            7.522  ...                        0.36503     0.34699
4       Canada            7.427  ...                        0.32957     0.45811

[5 rows x 7 columns]

In [37]:
data_2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [38]:
data_2016 = data_2016.drop(['Lower Confidence Interval'	,'Upper Confidence Interval','Region','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [39]:
data_2016=data_2016.rename(columns={'Happiness Score':'Happiness Score'})

In [40]:
data_2016.head()

       Country  Happiness Score  ...  Trust (Government Corruption)  Generosity
0      Denmark            7.526  ...                        0.44453     0.36171
1  Switzerland            7.509  ...                        0.41203     0.28083
2      Iceland            7.501  ...                        0.14975     0.47678
3       Norway            7.498  ...                        0.35776     0.37895
4      Finland            7.413  ...                        0.41004     0.25492

[5 rows x 7 columns]

In [41]:
data_2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [42]:
data_2017=data_2017.rename(columns={'Happiness.Rank': "Happiness Rank",'Happiness.Score':'Happiness Score','Economy..GDP.per.Capita.':'Economy (GDP per Capita)','Health..Life.Expectancy.':'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)', 'Dystopia.Residual':'Dystopia Residual'  })

In [43]:
data_2017 = data_2017.drop(['Whisker.high'	,'Whisker.low','Happiness Rank','Dystopia Residual','Family'], axis=1)

In [44]:
data_2017.head()

       Country  Happiness Score  ...  Generosity  Trust (Government Corruption)
0       Norway            7.537  ...    0.362012                       0.315964
1      Denmark            7.522  ...    0.355280                       0.400770
2      Iceland            7.504  ...    0.475540                       0.153527
3  Switzerland            7.494  ...    0.290549                       0.367007
4      Finland            7.469  ...    0.245483                       0.382612

[5 rows x 7 columns]

In [45]:
data_2018.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [46]:
data_2018 = data_2018.drop(['Overall rank','Social support'], axis=1)

In [47]:
data_2018=data_2018.rename(columns={'Country or region': "Country",'Score':' Happiness Score','GDP per capita':"Economy (GDP per Capita)",'Healthy life expectancy':"Healthy (life expectancy)",'Freedom to make life choices':"Freedom",'Perceptions of corruption':"Trust (Government Corruption)"})

In [48]:
data_2018.head()

       Country   Happiness Score  ...  Generosity  Trust (Government Corruption)
0      Finland             7.632  ...       0.202                          0.393
1       Norway             7.594  ...       0.286                          0.340
2      Denmark             7.555  ...       0.284                          0.408
3      Iceland             7.495  ...       0.353                          0.138
4  Switzerland             7.487  ...       0.256                          0.357

[5 rows x 7 columns]

In [49]:
data_2019.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [50]:
data_2019 = data_2019.drop(['Overall rank','Social support'], axis=1)

In [51]:
data_2019=data_2019.rename(columns={'Country or region': "Country",'Score':' Happiness Score','GDP per capita':"Economy (GDP per Capita)",'Healthy life expectancy':"Healthy (life expectancy)",'Freedom to make life choices':"Freedom",'Perceptions of corruption':"Trust (Government Corruption)"})

In [52]:
data_2019.head()

       Country   Happiness Score  ...  Generosity  Trust (Government Corruption)
0      Finland             7.769  ...       0.153                          0.393
1      Denmark             7.600  ...       0.252                          0.410
2       Norway             7.554  ...       0.271                          0.341
3      Iceland             7.494  ...       0.354                          0.118
4  Netherlands             7.488  ...       0.322                          0.298

[5 rows x 7 columns]

In [53]:
data_2015.head()

       Country  Happiness Score  ...  Trust (Government Corruption)  Generosity
0  Switzerland            7.587  ...                        0.41978     0.29678
1      Iceland            7.561  ...                        0.14145     0.43630
2      Denmark            7.527  ...                        0.48357     0.34139
3       Norway            7.522  ...                        0.36503     0.34699
4       Canada            7.427  ...                        0.32957     0.45811

[5 rows x 7 columns]

In [54]:
data_2016.head()

       Country  Happiness Score  ...  Trust (Government Corruption)  Generosity
0      Denmark            7.526  ...                        0.44453     0.36171
1  Switzerland            7.509  ...                        0.41203     0.28083
2      Iceland            7.501  ...                        0.14975     0.47678
3       Norway            7.498  ...                        0.35776     0.37895
4      Finland            7.413  ...                        0.41004     0.25492

[5 rows x 7 columns]

In [55]:
data_2017.head()

       Country  Happiness Score  ...  Generosity  Trust (Government Corruption)
0       Norway            7.537  ...    0.362012                       0.315964
1      Denmark            7.522  ...    0.355280                       0.400770
2      Iceland            7.504  ...    0.475540                       0.153527
3  Switzerland            7.494  ...    0.290549                       0.367007
4      Finland            7.469  ...    0.245483                       0.382612

[5 rows x 7 columns]

In [56]:

data = pd.concat([data_2015,data_2016,data_2017,data_2018,data_2019],axis=0)
data.head()

       Country  Happiness Score  ...   Happiness Score  Healthy (life expectancy)
0  Switzerland            7.587  ...               NaN                        NaN
1      Iceland            7.561  ...               NaN                        NaN
2      Denmark            7.527  ...               NaN                        NaN
3       Norway            7.522  ...               NaN                        NaN
4       Canada            7.427  ...               NaN                        NaN

[5 rows x 9 columns]

In [57]:
data.drop(data.columns[-1],1,inplace=True)
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

       Country  Happiness Score  ...  Generosity   Happiness Score
0  Switzerland            7.587  ...     0.29678               NaN
1      Iceland            7.561  ...     0.43630               NaN
2      Denmark            7.527  ...     0.34139               NaN
3       Norway            7.522  ...     0.34699               NaN
4       Canada            7.427  ...     0.45811               NaN

[5 rows x 8 columns]

In [58]:
data.drop(data.columns[-1],1,inplace=True)
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

       Country  Happiness Score  ...  Trust (Government Corruption)  Generosity
0  Switzerland            7.587  ...                        0.41978     0.29678
1      Iceland            7.561  ...                        0.14145     0.43630
2      Denmark            7.527  ...                        0.48357     0.34139
3       Norway            7.522  ...                        0.36503     0.34699
4       Canada            7.427  ...                        0.32957     0.45811

[5 rows x 7 columns]

In [59]:
data.isna().sum()

Country                            0
Happiness Score                  312
Economy (GDP per Capita)           0
Health (Life Expectancy)         312
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
dtype: int64

In [60]:
data.shape

(782, 7)

In [61]:
# Remove rows with missing values
data = data.dropna(how='any',axis=0)
data.shape

(470, 7)

In [62]:
# Summary Statistics for all Variables
data.describe().round(2)

       Happiness Score  ...  Generosity
count           470.00  ...      470.00
mean              5.37  ...        0.24
std               1.14  ...        0.13
min               2.69  ...        0.00
25%               4.51  ...        0.15
50%               5.28  ...        0.22
75%               6.23  ...        0.32
max               7.59  ...        0.84

[8 rows x 6 columns]

In [63]:
# Calculate the complete correlation matrix
data.corr().round(2)

                               Happiness Score  ...  Generosity
Happiness Score                           1.00  ...        0.16
Economy (GDP per Capita)                  0.79  ...       -0.01
Health (Life Expectancy)                  0.75  ...        0.08
Freedom                                   0.56  ...        0.34
Trust (Government Corruption)             0.41  ...        0.29
Generosity                                0.16  ...        1.00

[6 rows x 6 columns]

 you can easily see the top three variables contributing to happiness are;

Economy (GDP per Capita),
Health,
Freedom,

In [64]:
## Top 10 Happiest Countries
data[['Country','Happiness Score']].head(10)

       Country  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427
5      Finland            7.406
6  Netherlands            7.378
7       Sweden            7.364
8  New Zealand            7.286
9    Australia            7.284

In [65]:
##Top 10 Most Freedom Oriented Countries
data[['Country', 'Freedom']].sort_values(by = 'Freedom', ascending = False).head(10)

                  Country   Freedom
3                  Norway  0.669730
0             Switzerland  0.665570
144              Cambodia  0.662460
7                  Sweden  0.659800
46             Uzbekistan  0.658249
43             Uzbekistan  0.658210
9               Australia  0.651240
2                 Denmark  0.649380
5                 Finland  0.641690
19   United Arab Emirates  0.641570

In [66]:
##Top 10 Countries with Best Economy
data[['Country', 'Economy (GDP per Capita)']].sort_values(by = 'Economy (GDP per Capita)',ascending = False).head(10)

                 Country  Economy (GDP per Capita)
34                 Qatar                  1.870766
35                 Qatar                  1.824270
17            Luxembourg                  1.741944
19            Luxembourg                  1.697520
25             Singapore                  1.692278
27                 Qatar                  1.690420
21             Singapore                  1.645550
38                Kuwait                  1.632952
20  United Arab Emirates                  1.626343
40                Kuwait                  1.617140

In [67]:
# Prepare X_train, X_test, y_train, y_test
X = data[["Economy (GDP per Capita)", "Health (Life Expectancy)", "Trust (Government Corruption)", "Generosity"]]
y = data["Happiness Score"]
scaler = StandardScaler()
scaler.fit(X)
X_standard = scaler.transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_standard, y, test_size=0.2, random_state=10)

linreg = LinearRegression()
linreg.fit(X_train, y_train)
print("Training set R^2:", linreg.score(X_train, y_train))
print("Test set R^2:", linreg.score(X_test, y_test))

Training set R^2: 0.6963832206574498
Test set R^2: 0.6960150313562841